<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs")%>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <% if(errMsg !== null) { %>
        <p><%= errMsg %></p>
      <% } %>
      <form action="/membership" method="POST">
        <label for="member-password"
          >Enter password to upgrade to Member account</label
        >
        <input type="text" id="member-password" name="passwordAttempt" />
        <button type="submit">Submit</button>
      </form>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
