<header>
  <a id="main-header" href="/"> Boat Club Messenger</a>
  <% if (currentUser !== undefined){ %>
    <div class="dropdown">
      <button class="dropdown-btn">Welcome aboard, <%= currentUser.first_name %>! ⌄</button>
      <div class="dropdown-content">
          <a href="/auth/logout">Log Out</a>
        <% if(currentUser !== undefined && currentUser.member === false){ %>
          <a href="/membership">Become a Member</a>
        <% } else if(currentUser !== undefined && currentUser.member === true && currentUser.admin === false){ %>
          <a href="/admin">Become an Admin</a>
        <% } %>
      </div>
    </div>
  <% } else { %>
    <div class="dropdown">
      <button class="dropdown-btn">Account Login</button>
      <div class="dropdown-content">
        <a href="/auth/login">Log In</a>
        <a href="/auth/signup">Sign Up</a>
      </div>
    </div> 
  <% } %>
</header>
