<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <%- include("partials/header") %>
    <main>
      <section class="message-board">
        <h2>Message Board</h2>
      </section>
      <form action="/messages/add-message" method="POST">
        <div class="new-message-input">
          <label for="new-message">New message: </label>
          <textarea name="newMessage" id="new-message"></textarea>
        </div>
        <button type="submit">Submit</button>
      </form>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
