/* Kevin Powell Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/****************/
/*** Fontkit ***/
/**************/

@font-face {
  font-family: "Cinzel";
  src:
    url("./fonts/Cinzel-Regular.woff2") format("woff2"),
    url("./fonts/Cinzel-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  src:
    url("./fonts/Inter-Regular.woff2") format("woff2"),
    url("./fonts/Inter-Regular.woff") format("woff");
}

/**********************/
/*** Global Styles ***/
/********************/

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Cinzel";
  font-size: 1.5rem;
  color: #c9a227;
}

header {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #c9a227;
}

header a {
  text-decoration: none;
  color: #f8f4e9;
  font-family: "Inter";
}

header a:hover {
  color: #1f6f5f;
}

.dropdown {
  border: 1px solid #c9a227;
  border-radius: 0.2rem;
  padding: 0.5rem;
  position: relative;
}

.dropdown-btn {
  font-family: "Inter";
  background-color: transparent;
  color: #c9a227;
  border: none;
  outline: none;
}

.dropdown-content {
  display: none;
}

.dropdown:hover,
.dropdown-btn {
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem;
  border: 1px solid #c9a227;
  background-color: #2b2b2b;
  position: absolute;
  transform: translate(2px, 10px);
}

header,
footer {
  background-color: #2b2b2b;
  color: #f8f4e9;
}

footer {
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #0b2545;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  padding: 2rem;
}

input {
  padding-left: 0.15rem;
}

/**********************/
/*** Message Board ***/
/********************/

.message-board {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 40%;
  margin: 2rem 0;
  background-color: #f8f4e9;
  padding: 1rem;
  border-radius: 0.3rem;
}

.message-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.4rem;
  background-color: #fcfcfa;
  border-left: 4px solid #1f6f5f;
  padding: 0.5rem;
}

.delete-button {
  background-color: #8b0000;
  color: #fcfcfa;
  border: none;
  border-radius: 0.2rem;
  padding: 0.4rem;
  align-self: start;
}

.delete-button:hover {
  background-color: #a30000;
  cursor: pointer;
}

.new-message-input {
  display: flex;
  flex-direction: column;
}

/**************/
/*** Forms ***/
/************/
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form button {
  background-color: #c9a227;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

form button:hover {
  background-color: #b18e20;
  cursor: pointer;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.add-message-form {
  background-color: #f8f4e9;
  padding: 1.25rem;
  border-radius: 0.3rem;
}

.login-form,
.account-upgrade-form {
  background-color: #f8f4e9;
  margin-bottom: 10rem;
  padding: 2rem;
  border-radius: 0.3rem;
}
